.Button{
	background-color: #888;
	border: 1px solid #888;
	border-radius: 0.7em;
	padding: 1em 2em;
	cursor: pointer;
	color: #ffffff;
	display: block;
}
.Button:hover{
	background-color: #777;
	border-color: #777;
}
.Button:active{
	background-color: #666;
	border-color: #666;
}